<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>HTML Image</h2>
<img src="countdownTemplate.jpg" alt="dynamicTemplate" width="360" height="450">
<p>Hello from HTML EJS Page </p>
Years <%= locals.countdown.years || "0" %>
Months <%= locals.countdown.months || "0" %>
Days <%= locals.countdown.days || "0" %>
Hours <%= locals.countdown.hours || "0" %>
Minutes <%= locals.countdown.minutes || "0" %>
</body>
</html>